:css
  @-webkit-keyframes chromelogo-zoom-spin {
    from { -webkit-transform: rotateX(0deg) scale(1); }
    to { -webkit-transform: rotateX(360deg) scale(0)  ; }
  }
  @-webkit-keyframes chromelogo-spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes chromelogo-zoom {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(0); }
  }

  @-webkit-keyframes chromelogo-move {
    from { -webkit-transform: translate(0px, 0px); }
    to { -webkit-transform: translate(700px,-400px); }
  }
  @-webkit-keyframes chromelogo-move-zoom {
    from { -webkit-transform: translate(0px, 0px) scale(1); }
    to { -webkit-transform: translate(700px,-400px) scale(0); }
  }   
  @-webkit-keyframes hide {
    from { opacity: 0;}
    to { opacity: 0; }
  }
  .chromelogo{
    -webkit-animation:  chromelogo-spin 1s infinite linear;
    //animation: chromelogo-spin 12s infinite cubic-bezier(0.9, 0.1, 0.1, 0.9);
  }
  .image_move_out {
    -webkit-animation:  chromelogo-move-zoom 5s cubic-bezier(0.07, 0.1, 0.25, 0.9), hide 0 5s infinite;  
  }
  .image_hide {
    -webkit-animation: hide 0s 6s;
    }
  
:javascript
  $(function() {
    $("#thewebisdead").bind('click', function(event) {
      $("#thewebisdead").addClass('chromelogo');
      $("#thewebisdead_wrapper").addClass('image_move_out');
      
      
    });
  });

%section.slide.section-title
  %h1 Lecture 1: Introduction

%section.slide
  %header The Web is Dead!
  %article
    .row
      .twoColumn.autoimage
        = image_tag "the-web-is-dead.jpg",  :caption => "Wired August 2010", :url => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1", :resize => true
      .twoColumn.slide.autobox
        = image_tag "mobile-applications.jpg", :resize => true


%section.slide
  %header An App for Every Task
  %article.justified
    .slide.autobox
      = image_tag "iphone-facebook-2-application.jpg"
    .slide.autobox
      = image_tag "twitter-web-app.jpg"
    .slide.autobox
      = image_tag "weather-app.jpg"

%section.slide
  %header More Time is Spent on Mobile Apps
  %article
    .row
      .twoColumn
        =image_tag "mobile-app-chart.jpg"
      .twoColumn
        =image_tag "mobile-app-chart-2.jpg"

      
      
%section.slide
  %header Is the Web Dead ? 
  %article
    .row 
      .twoColumn
        %ul
          %li.slide
            If you are reading this, it's not.
          %li.slide 
            Wired article was read and discussed mostly on the web
          %li.slide
            HTML5 brings a a lot of new cool stuff for web developers
          %li.slide
            Companies like Google, Apple, Adobe, Microsoft are embracing HTML5
          %li.slide
            Many apps are built in HTML5 and wrapped with a native shell
      .twoColumn
        #thewebisdead_wrapper
          .autoimage#thewebisdead
            = image_tag "the-web-is-dead.jpg",  :caption => "Wired August 2010", :url => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1", :resize => true

%section.slide
  %header Evolution of the Web (Browsers)
  %article
    =image_tag "evolution-web.png", :caption => "Web Evolution", :url => "http://evolutionofweb.appspot.com/"


%section.slide
  %header Shifting from the "Document Web" to the "App Web"
  %article.centered
    .row
      .twoColumn.slide
        %p
          Hyperlinked documents
        %p
          Page reloading
        %p 
          Static pages
        %p 
          Web servers
        %p 
          Static content
      .twoColumn.slide
        %p 
          Interactive web apps
        %p
          Asynchronous API calls
        %p 
          HTML + CSS + JS
        %p 
          Data hubs (web apis)
        %p 
          Real-time communication
    
      %p.slide
        Web apps are built with open standards that are refered as "Web Technologies"
    
%section.slide
  %header Mobile Web Apps
  %article
        

%section.slide
  %header Developing Native Apps for Multiple Platforms
  %article 
    .row
      .twoColumn.autoimage
        .slide
          =image_tag "asymco-live-death-mobile-platforms.png", :caption => "Asymco Feb 2011", :url => "http://www.asymco.com/2011/02/19/the-lives-and-deaths-of-mobile-platforms/"      
      .twoColumn        
        .slide 
          %p We must have:
        %ul
          %li.slide
            2008 - iPhone Apps
          %li.slide
            2009 - Android App
          %li.slide  
            2010 - iPad App
          %li.slide
            2011 - maintain them ???

%section.slide
  %header Develop, Test and Maintain
  %article
    =image_tag "smartphones.jpg", :resize => true

%section.slide
  %header Mobile Platforms Shares
  %article
    .row
      .twoColumn
        =image_tag "smartphone-platforms-share.png", :resize => true
      .twoColumn.slide
        =image_tag "smartphone-languages-share.png", :resize => true

%section.slide
  %header Mobile Browsers Shares
  %article
    .row
      .twoColumn
        =image_tag "smartphone-browser-share.png", :resize => true
      .twoColumn.slide
        =image_tag "smartphone-html5-share.png", :resize => true

%section.slide
  %header HTML5     
  %article.centered
    HTML5 is a major revision 
    
    
%section.slide
  %header Web Apps Frameworks
  %article
    Jquery
    Sencha
    
%section.slide
  %header Important resources
  %article
    http://conversionroom.blogspot.com/2011/03/part-1-mobile-website-optimisation-5.html
    http://gigaom.com/2011/12/21/hold-those-caps-the-average-web-page-is-now-almost-1mb/?utm_source=social&utm_medium=twitter&utm_campaign=gigaom
    