:css
  @-webkit-keyframes chromelogo-zoom-spin {
    from { -webkit-transform: rotateX(0deg) scale(1); }
    to { -webkit-transform: rotateX(360deg) scale(0)  ; }
  }
  @-webkit-keyframes chromelogo-spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes chromelogo-zoom {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(0); }
  }

  @-webkit-keyframes chromelogo-move {
    from { -webkit-transform: translate(0px, 0px); }
    to { -webkit-transform: translate(700px,-400px); }
  }
  @-webkit-keyframes chromelogo-move-zoom {
    from { -webkit-transform: translate(0px, 0px) scale(1); }
    to { -webkit-transform: translate(700px,-400px) scale(0); }
  }   
  @-webkit-keyframes hide {
    from { opacity: 0;}
    to { opacity: 0; }
  }
  .chromelogo{
    -webkit-animation:  chromelogo-spin 1s infinite linear;
    //animation: chromelogo-spin 12s infinite cubic-bezier(0.9, 0.1, 0.1, 0.9);
  }
  .image_move_out {
    -webkit-animation:  chromelogo-move-zoom 5s cubic-bezier(0.07, 0.1, 0.25, 0.9), hide 0 5s infinite;  
  }
  .image_hide {
    -webkit-animation: hide 0s 6s;
    }
  
:javascript
  $(function() {
    $("#thewebisdead").bind('click', function(event) {
      $("#thewebisdead").addClass('chromelogo');
      $("#thewebisdead_wrapper").addClass('image_move_out');
      
      
    });
  });

=title_slide_tag("Lecture 1: Introduction")

%section.slide.section-title
  %h1 Lecture 1: Introduction

%section.slide
  %header The Web is Dead!
  %article
    .row
      .twoColumn
        = image_tag "the-web-is-dead.jpg",  :caption => "Wired August 2010", :url => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1", :resize => true
      .twoColumn.slide
        = image_tag "mobile-applications.jpg", :resize => true


%section.slide
  %header An App for Every Task
  %article
    .item
      = image_tag "iphone-facebook-2-application.jpg", :nowrap => true
      = image_tag "twitter-web-app.jpg", :nowrap => true
      = image_tag "weather-app.jpg", :nowrap => true

%section.slide
  %header More Time is Spent on Mobile Apps
  %article
    .row
      .twoColumn
        =image_tag "mobile-app-chart.jpg"
      .twoColumn
        =image_tag "mobile-app-chart-2.jpg"
   
%section.slide
  %header Is the Web Dead ? 
  %article
    .row 
      .twoColumn
        %ul
          %li.slide
            If you are reading this, it's not.
          %li.slide 
            Wired article was read and discussed mostly on the web
          %li.slide
            HTML5 brings a a lot of new cool stuff for web developers
          %li.slide
            Companies like Google, Apple, Adobe, Microsoft are embracing HTML5
          %li.slide
            Many apps are built in HTML5 and wrapped with a native shell
      .twoColumn
        #thewebisdead_wrapper
          .autoimage#thewebisdead
            = image_tag "the-web-is-dead.jpg",  :caption => "Wired August 2010", :url => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1", :resize => true

%section.slide
  %header Evolution of the Web (Browsers)
  %article
    =image_tag "evolution-web.png", :caption => "Web Evolution", :url => "http://evolutionofweb.appspot.com/"


%section.slide
  %header Shifting from the "Document Web" to the "App Web"
  %article
    .row
      .twoColumn.slide
        .autobox
          %p 
            Hyperlinked documents
          %p
            Page reloading
          %p 
            Static pages
          %p 
            Web servers
          %p 
            Static content
      .twoColumn.slide
        .autobox
          %p 
            Interactive web apps
          %p
            Asynchronous API calls
          %p 
            HTML + CSS + JS
          %p 
            Data hubs (web apis)
          %p 
            Real-time communication
    .vmargin
      %p.slide
        Web apps are built with open standards that are refered as "Web Technologies"

%section.slide
  %header The Classic Web Architecture
  %article
    =image_tag "lesson1/web-arch-classic.png", :resize => true
  
%section.slide
  %header Towards a New Web Architecture  
  %article
    =image_tag "lesson1/web-arch-new.png", :resize => true

%section.slide
  %header What the heck is a "Mobile Web App" ?
  %article
    Demo of FT
    Demo of Linkedin

%section.slide
  %header Developing Native Apps for Multiple Platforms
  %article 
    .row
      .twoColumn
        .slide
          =image_tag "asymco-live-death-mobile-platforms.png", :caption => "Asymco Feb 2011", :url => "http://www.asymco.com/2011/02/19/the-lives-and-deaths-of-mobile-platforms/"      
      .twoColumn
        .autobox        
          .slide 
            %p We must have:
          %ul
            %li.slide
              2008 - iPhone Apps
            %li.slide
              2009 - Android App
            %li.slide  
              2010 - iPad App
            %li.slide
              2011 - maintain them ???


%section.slide
  %header Develop, Test and Maintain
  %article
    =image_tag "smartphones.jpg", :resize => true

%section.slide
  %header 
    Smartphone Platforms Shares 
    .smaller.inline
      (units shipped Q4 2011)
  %article
    .row
      .twoColumn
        =image_tag "smartphone-platforms-share.png", :resize => true
      .twoColumn.slide
        =image_tag "smartphone-languages-share.png", :resize => true

%section.slide
  %header 
    Smartphone Browsers Shares
    .smaller.inline
      (units shipped Q4 2011)
  %article
    .row
      .twoColumn
        =image_tag "smartphone-browser-share.png", :resize => true
      .twoColumn.slide
        =image_tag "smartphone-html5-share.png", :resize => true


%section.slide
  %header HTML5     
  %article
    .row
      .twoColumn
        .item
          %img(src = "imgs/html5/HTML5_Semantics_64.png")
          %span 
            %strong New semantics
        .item
          %img(src = "imgs/html5/HTML5_Styling_64.png")
          %span
            %strong CSS3
        .item
          %img(src = "imgs/html5/HTML5_3D_Effects_64.png")
          %span
            %strong 3D, Graphics and Effects
        .item
          %img(src = "imgs/html5/HTML5_Offline_Storage_64.png")
          %span
            %strong Offline & Storage
      .twoColumn
        .item
          %img(src = "imgs/html5/HTML5_Connectivity_64.png")
          %span
            %strong Connectivity
        .item
          %img(src = "imgs/html5/HTML5_Device_Access_64.png")
          %span
            %strong Device Access
        .item
          %img(src = "imgs/html5/HTML5_Multimedia_64.png")
          %span
            %strong Multimedia
        .item
          %img(src = "imgs/html5/HTML5_Performance_64.png")
          %span
            %strong Performance & Integration
       
%section.slide
  %header Browser Support for HTML5
  %article
    =image_tag "caniuse.png", :caption => "When Can I Use ...", :url => "http://caniuse.com/"
 
%section.slide
  %header Test your Browser for HTML5 support
  %article
    =image_tag "html5test.png", :caption => "The HTML5 Test", :url => "http://html5test.com/"
    


%section.slide
  %header HTML5 Frameworks & Tools
  %article.larger.centered
    .item.emphasizebox 
      %span
        UI
      =image_tag "jquery.png", :nowrap => true, :url => "http://jquerymobile.com/"
      =image_tag "sencha.png", :nowrap => true, :url => "http://www.sencha.com/"
      =image_tag "jqtouch.png", :nowrap => true, :url => "http://jqtouch.com/"
      =image_tag "sproutcore.png", :nowrap => true, :url => "http://sproutcore.com/"
    .item.emphasizebox 
      %span
        Helpers
      =image_tag "backbonejs.png", :nowrap => true, :url => "http://documentcloud.github.com/backbone/"
      =image_tag "modernizr.png", :nowrap => true, :url => "http://www.modernizr.com/"
      =image_tag "handlebarsjs.png", :nowrap => true, :url => "http://www.handlebarsjs.com/"
    .item.emphasizebox 
      %span
        Dev Tools 
      =image_tag "coffescript.png", :nowrap => true, :url => "http://coffeescript.org/"  
      =image_tag "sass.png", :nowrap => true, :url => "http://sass-lang.com/"
      =image_tag "haml.png", :nowrap => true, :url => "http://haml-lang.com/"
    .item.emphasizebox 
      %span
        Backend
      =image_tag "rails.png", :nowrap => true, :url => "http://rubyonrails.org"
      =image_tag "sinatra.png", :nowrap => true, :url => "http://www.sinatrarb.com"
      =image_tag "nodejs.png", :nowrap => true, :url => "http://nodejs.org"
      =image_tag "django.png", :nowrap => true, :url => "https://www.djangoproject.com/"
    .item.emphasizebox 
      %span
        Database
      =image_tag "mongodb.png", :nowrap => true, :url => "http://www.mongodb.org/"
      =image_tag "couchdb.png", :nowrap => true, :url => "http://couchdb.apache.org/"

%section.slide
  %header jQuery Example
  %article
    .code_block
      :coderay_raw
        #!html
        <!DOCTYPE html> 
        <html> 
          <head> 
          <title>Hello World</title> 
          <meta name="viewport" content="width=device-width, initial-scale=1"> 
          <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
          <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
          <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
        </head> 
        <body> 
          <div data-role="page">
            <div data-role="header">
              <h1>List of cars</h1>
            </div><!-- /header -->
            <ul data-role="listview" data-inset="true" data-filter="true">
              <li><a href="#">Acura</a></li>
              <li><a href="#">Audi</a></li>
              <li><a href="#">BMW</a></li>
              <li><a href="#">Cadillac</a></li>
              <li><a href="#">Ferrari</a></li>
            </ul>
          </div><!-- /page -->
        </body>
        </html>

%section.slide
  %header jQuerySimple on a iPhone and iPad
  %article
    .row
      .twoColumn
        =image_tag "jQuerySimple-iphone.png", :resize => true
      .twoColumn
        =image_tag "jQuerySimple-ipad.png", :resize => true
    

%section.slide
  %header Sencha Example
  %article.smaller
    .code_block
      :coderay_raw
        #!html
        <!DOCTYPE html> 
        <html> 
            <head> 
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
                <title>Hello World</title> 
                <script src="sencha-touch.js" type="text/javascript"></script> 
                <link href="sencha-touch.css" rel="stylesheet" type="text/css" /> 
                 <script type="text/javascript"> 
                    new Ext.Application({
                        launch: function() {
                            var cars = new Ext.data.Store({
                                model: Ext.regModel('', {fields: ['name', 'link']}),
                                data: [
                                    {name: 'Acura', link:'na'},
                                    {name: 'Audi', link:'sa'},
                                    {name: 'BMW', link:'eu'},
                                    {name: 'Cadillac', link:'eu'},
                                    {name: 'Ferrari', link:'eu'}
                                ]
                            });
                            new Ext.Panel({
                                fullscreen: true,
                                dockedItems: [{ xtype: 'toolbar', title: 'List of cars', }],
                                items: [{ xtype: 'list', store: cars, itemTpl: '{name}' }]
                            });
                        }
                    }); 
                </script> 
            </head> 
            <body></body> 
        </html>

%section.slide
  %header senchaSimple on a iPhone and iPad
  %article
    .row
      .twoColumn
        =image_tag "senchaSimple-iphone.png", :resize => true
      .twoColumn
        =image_tag "senchaSimple-ipad.png", :resize => true

%section.slide
  %header Is it thing really working ? 
  %article
    %ul
      %li 
        .slide HTML5 performance is not goot enough ? 
        .slide Sometimes, it is not enough
      %li
        .slide HTML5 is more efficient to develop ? 
        .slide Yes, sometimes. Look at FT case.
      %li
        .slide HTML5 lacks good tools
        .slide Changing fast (check Sencha)
      %li
        .slide HTML5 doesn't have an appstore
        .slide Hybrid apps (PhoneGap)
        
        
%section.slide
  %header 
    FT web app
    %span.smaller
      %a(href="http://blog.cohen-rose.org/2011/10/over-air-2011-ft-web-app-weve-got.html") (more info)

  %article
    %ul
      %li Developed in 8 months by 3 people
      %li Same web app works across multiple brands and devices
      %li 
        Great and responsive UI design
        %ul
          %li content balacingin based on device type
          %li Audio playing while moving to other pages
          %li Continous carousel
          %li Preloading of content
          %li Swipes using touch gestures
      %li Offline access
      %li More engagement than native app 

%section.slide
  %header LinkedIn App
  %article      

%section.slide
  %header Organization of the course
  %article
    %p
      %strong.red
        Lectures
      \: Deep dives on the key concepts, technologies and frameworks
    %p
      %strong.red
        Labs
      \: Hands-on classes with practical exercices on selected topics
    %p
      %strong.red
        Assignment
      \: Team work on development of a web app
    
%section.slide
  %header Lectures & Labs
  %article
    .row
      .twoColumn
        .autobox
          %p Lecture 1: Introduction
          %p Lecture 2: New semantics
          %p Lecture 3: CSS3
          %p Lecture 4: HTML5 Storage and Device Access
          %p Lecture 5: Sencha
          %p Lecture 6: Storing into the cloud
          %p Lecture 7: Developing native apps
      .twoColumn
        .autobox
          %p Lab 1: Assignment Kick-off
          %p Lab 2: Building a mobile web app
          %p Lab 3: Client side templating
          %p Lab 4: 
    
    
%section.slide
  %header
    Course Material
  %article

%section.slide
  %header Assignment
  %article
    Expectations
    Grading
    Board
    
%section.slide
  %header Disclaimer
  %article
    %ul
      %li.slide This course is a pilot
      %li.slide First time teaching this course
      %li.slide First time teaching at the Aalto Venture Garage
      %li.slide Timing of the lessons may be inaccurate
      %li.slide Exercises may be too simple or too complex
      %li.slide The level of the course is not calibrated

%section.slide.section-title
  %h1 The Fundamentals
  .agenda
    %p Git 
    %p Javascript Refresh
    %p MVC
    %p HAML, SASS and CoffeScript
    %p Ruby, Sinatra and Rails
    %p Heroku

%section.slide
  %header Git
  %article
    .row.singlespace.small
      .threeColumn
        .autobox
          %p Start using git
          %pre
            cd yourproject
            git init
          %pre
            git clone git@github.com...
          %p Add all files in a directory
          %pre
            git add .
          %p Check status
          %pre
            git status -s
          %p Commit 
          %pre
            git commit -m "First commit"
            git commit -am "First commit"
      .threeColumn
        .autobox
          %p Show all branches
          %pre
            git branch
            git branch -a
          %p Create a new branch
          %pre
            git branch newfeature
          %p Switch branch
          %pre
            git checkout newfeature
          %p Add a remote
          %pre
            git remote add <name> <url>
          %p View the remotes
          %pre  
            git remote -v 
      .threeColumn
        .autobox
          %p Link a local to a remote branch
          %pre  
            got branch --track local remote
          %p Fetch changes from remotes
          %pre  
            git fetch <remote> <branch>
          %p Push changes to remotes
          %pre  
            git push <remote> <branch>
          %p Review changes between different branches
          %pre  
            git log origin/master ^master
          %p Merge changes 
          %pre  
            git checkout master
            git merge origin/master
    .autobox.important.centered
      %strong.red
        Must Read: 
      %a(href="http://gitref.org") Git Reference        
%section.slide
  %header Javascript: Asynchronous calls
  %article
    %p Javascript has one thread of execution
    %p Blocking operations (e.g. network) must use callbacks
    .larger
      :coderay
        #!javascript
        var jqxhr = $.getJSON("example.json", function() {
          alert("success");
        });
    %br
    .larger 
      :coderay
        #!javascript
        $('#target').click(function() {
          alert('Handler for .click() called.');
        });

%section.slide
  %header Javascript: Lambda Functions
  %article
    %p Lambda functions are created at runtime when the execution reaches that point of the flow. This allows functions to be defined conditionally
    .row.vmargin
      .twoColumn
        .autobox
          Function Declaration
          :coderay
            #!javascript
            ...
            function square(x) {
              return x * x;
            }
            var b = square(2); //b gets assigned 4
            ...
      .twoColumn
        .autobox
          Function Statement
          :coderay
            #!javascript
            ...
            var square = function(x) {
              return x * x;
            };
            var b = square(2); //b gets assigned 4
            ...
    %p Lambda functions are normal objects and can be passed as function parameters (e.g. callbacks)
    :coderay
      #!javascript
      $('#target').click( square );

      
%section.slide
  %header 
    Javascript: Iterators (jQuery)
  %article
    .row 
      .twoColumn
        %strong.red
          $.each
        \: iterates over a list
      .twoColumn
        or a map
    .row
      .twoColumn
        :coderay
          #!javascript
          var list = [1,2,3,4,5];
          var a = $.each(list, function(index, value) {
            alert(index + ": " + value);
          }); //It produces 5 alerts
      .twoColumn
        :coderay
          #!javascript
          var map = {'a': 'b', 'c': 'd'};
          var a = $.each(list, function(key, value) {
            alert(key + ": " + value);
          }); //It produces 2 alerts
    
    .vmargin
      %strong.red
        $.map
      \: applies a function to each element of the array and maps the results into a new array
      :coderay
        #!javascript
        var list = [1,2,3,4,5];
        var a = $.map(list, function(value, index) {
          return square(value);
        }; // a gets [1,4,9,16,25]

%section.slide
  %header 
    Javascript: Iterators (underscore.js) 
  %article
    .row 
      .twoColumn
        .autobox.hmargin
          %strong.red
            each
          \: _.each (list, iterator, [context]) 
          :coderay
            #!javascript
            _.each([1, 2, 3], function(n){ alert(n); });
            _.each({one : 1, two : 2, three : 3}, function(n, k){ alert(n); });
          .vmargin
            %strong.red
              map
            \: _.map(list, iterator, [context]) 
            :coderay
              #!javascript
              _.map({one : 1, two : 2, three : 3}, function(n, k){ return n*3; });
              => [3, 6, 9]    
          .vmargin
            %strong.red
              reduce
            \: _.reduce(list, iter, memo, [context])    
            :coderay
              #!javascript
              var sum = _.reduce([1, 2, 3], function(memo, n){ return memo + n; }, 0);
              => 6
      .twoColumn
        .autobox
          %strong.red
            find
          \: _.find(list, iterator, [context]) 
          :coderay
            #!javascript
            _.find([1, 2, 3, 4, 5, 6], function(n){ return n % 2 == 0; });
            => 2
          .vmargin
            %strong.red
              filter
            \: _.filter(list, iterator, [context])
            :coderay
              #!javascript
              _.filter([1, 2, 3, 4, 5, 6], function(n){ return n % 2 == 0; });
              => [2, 4, 6]
          .vmargin
            %strong.red
              groupBy
            \: _.groupBy(list, iterator) 
            :coderay
              #!javascript
              _.groupBy(['one', 'two', 'three'], 'length');
              => {3: ["one", "two"], 5: ["three"]}
    
%section.slide
  %header Javascript: Closure
  %article
    %p
      A closure is formed by returning a function object that was created within an execution 
      context of a function call from that function call and assigning a reference to that inner 
      function to a property of another object. Or by directly assigning a reference to such 
      a function object to, for example, a global variable, a property of a globally accessible 
      object or an object passed by reference as an argument to the outer function call (
      %a(href="http://jibbering.com/faq/notes/closures") Closures
      ).
    :coderay
      #!javascript
      function closureBuilder(arg1, arg2){  //outer function (builder)
          var localVar = 8;
          function exampleReturned(innerArg){  //inner function 
              return ((arg1 + arg2)/(innerArg + localVar));
          }
          return exampleReturned;  //return a reference to the inner fucntion
      }
      var globalVar = closureBuilder(2, 4);
      var secondGlobalVar = exampleClosureForm(12, 3);

      globalVar(2);   //Result ?
      secondGlobalVar(5);   // Result ? 
      
%section.slide
  %header Javascript: Closure Example with Google Maps
  %article
    :coderay
      #!javascript  
      var infoWindow = new google.maps.InfoWindow();
  
      function addInfoWindow(marker, id, name) {
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent('<p>'+ name + '</p>');
            infoWindow.open(map, marker);
          });
      }
      
      function addMarkers(json) {
        var markers = [];
        for (i=0; i<json.length; i++) {
            var place = json[i];
  
            var point = new google.maps.LatLng(place.coordinates[0], place.coordinates[1]);      
            var marker = new google.maps.Marker({position:point, title:place.name});
            
            addInfoWindow(marker, place.slug, place.name);
            ...

%section.slide
  %header HAML
  %article

%section.slide
  %header SASS (SCSS)
  %article
    
%section.slide
  %header CoffeScript
  %article

%section.slide
  %header Ruby
  %article 
    
%section.slide
  %header Sinatra
  %article

%section.slide
  %header Ruby on Rails
  %article


%section.slide
  %header Important resources
  %article
    http://conversionroom.blogspot.com/2011/03/part-1-mobile-website-optimisation-5.html
    http://gigaom.com/2011/12/21/hold-those-caps-the-average-web-page-is-now-almost-1mb/?utm_source=social&utm_medium=twitter&utm_campaign=gigaom
    
    http://www.modernizr.com/ 
    http://deviceatlas.com/resourcecentre/explore+deviceatlas+data/devices